<h1>Chat</h1>

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4"><input type="text" id="userInput" /></div>
    </div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><input type="text" id="messageInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList">
            @foreach (var item in ViewBag.Users)
            {
                <li id="@item.Id" style="list-style:none"><span class="@(item.ConnectedId==null?"gray":"green")" style="height:10px; width:10px; border-radius:50%; display:inline-block"></span>@item.FullName <a asp-controller="Home" asp-action="ShowUserAlert" asp-route-id="@item.Id">Sendddd</a></li>
            }
        </ul>
    </div>
</div>

 @section Scripts{
     <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
     <script>
         var connection = new signalR.HubConnectionBuilder().withUrl("/chathub").build();
         connection.start();

         $("#sendButton").click(function () {
             let userInput= $("#userInput").val();
             let messageInput = $("#messageInput").val();
             connection.invoke("SendMessage", userInput, messageInput);

             connection.on("ReceiveMessage", function (user, message) {
                 console.log(user + " " + message);
             })

             connection.on("Connected", function (id) {
                 let li = document.getElementById(id);

                 $(li).find("span").removeClass("gray");
                 $(li).find("span").addClass("green");
             })
             connection.on("ShowAlert", function (id) {
                 alert("Okkkkk");
             })

         })


     </script>

 }